body {
    background-image: url(./assets/170293-popcorn-4k-ultra-hd-wallpaper.jpg);
    background-color: #cccccc;
    font-family: 'Cardo', serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    margin: 7em auto;
    border-radius: 20px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #f80000;
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: bold;
font-size: 18px;
letter-spacing: 1px;
background: whitesmoke /* (136, 126, 126, 0.04) */;
padding: 10px 20px;
border: none;
border-radius: 12px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Cardo', serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: black /* (38, 50, 56) */;
font-weight: 900;
font-size: 18px;
letter-spacing: 1px;
background: whitesmoke /*(136, 126, 126, 0.04) */;
padding: 10px 20px;
border: none;
border-radius: 12px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Cardo', serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  cursor: pointer;
    border-radius: 12px;
    color: #fff;
    background: #f8f400; 
    border: 0;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Cardo', serif;
    margin-left: 11%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-weight: bold;
    letter-spacing: 1px;
}

.forgot {
    text-shadow: 0px 0px 0px rgba(117, 117, 117, 0.12);
    color: black;
    padding-top: 15px;
    font-weight: bold;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #ff0404;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}
.title {
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 60px;
    color: #f80000;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0px;
}
.smalltitle {
    padding-top: 10px;
    color: #f80000;
    padding-left: 110px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky 0;
  width: inherit;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(114, 132, 154);
  color: white;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0px; /* Stay at the top */
    left: 0px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 33px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgrey;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .navtitle {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    float: left;
  }

  .logo {
    background-color: #fa8807;
    width: 500px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }
  .footer-1 {
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-right: 110;
    padding-left: 110px;
    color: #ff7e06;
    font-family: 'Cardo', serif;
    text-transform: uppercase;
    font-weight: none;
    font-size: 12px;
  }
  .hr5 {
    border: 1px solid whitesmoke;
    border-radius: 12px;
    width: 82%;
  }
  /* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  color: #ff7e06;
  background-color: whitesmoke;
  font-size: 12px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ff7e06;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff7e06;
  color: #ff7e06;
  font-size: 12px;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  padding-top: 0px;
  padding-left: 0px;
  color:#ff7e06;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 110px;
  margin-bottom: 0px;
  font-size: 20px;
  border-radius: 6px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    font-size: 12px;
  }
  .topnav input[type=text] {
    border: 1px solid gray;
  }
}
.barbar {
  overflow: hidden;
  color: #ff7e06;
  background-color: whitesmoke;
}
.barbar input[type=text] {
  float: right;
  padding: 6px;
  border: 1px solid lightslategray;
  margin-top: -10px;
  margin-right: 110px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 6px;
  width: 38%;
}
.barbar subtitle[type=sub] {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #ff7e06;
  padding-left: 10px;
}
.imgclass {
  float: left;
  width: 90px;
  height: 150px;
  padding: 10px;
}